.page {
  background-color: #E2EEEC;
}

.imgTitle {
  text-align: center;
  color: #CABD9A;
}

.bagTitle {
  text-align: center;
  text-decoration: underline;
  color: #A5956D;
}

.text {
  color: #A5946D;
}
